//display

.hidden, .hide { 
	display: none;  
}

.visuallyhidden { 
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px; 
}

.visuallyhidden.focusable:active, 
.visuallyhidden.focusable:focus { 
	clip: auto; 
	height: auto; 
	margin: 0; 
	overflow: visible; 
	position: static; 
	width: auto; 
}

.invisible { 
	visibility: hidden; 
}

//clear

.clearfix:before, 
.clearfix:after { 
	content: ""; 
	display: table; 
}

.clearfix:after { 
	clear: both; 
}

.clearfix { 
	*zoom: 1; 
}

.clear {
	clear: both;
}

//text

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.capitalize {
	text-transform: capitalize;
}

//debug

.error-debug {
	background-color: rgba(255, 255, 255, 0.85);
	color: red;
	display: block;
	margin: 0 auto;
	padding: 60px 0;
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	z-index: 999;
}