body {
	margin: 0;
}

//break points

@tablet: 'screen and (min-width: 600px)';

@desktop: 'screen and (min-width: 1000px)';

//structure

.wrapper {
	float: left;
	width: 100%;

	&.wrapper--padding {
		padding: 20px;
	}

	&.wrapper--padding-2x {
		padding: 40px;
	}

	&.wrapper--padding-4x {
		padding: 80px;
	}

	&.wrapper--border {
		border: 1px @c-emperor solid;
	}

	&.wrapper--border-2x {
		border: 2px @c-emperor solid;
	}

	&.wrapper--grey {
		background: @c-gallery;
	}

	&.wrapper--white {
		background: @c-white;
	}
	
	&.wrapper--gradient {
		.gradient();
	}

	&.wrapper--border-radius {
		.border-radius(10px);
	}

	&.wrapper--box-shadow {
		.box-shadow();
	}
	
	&.wrapper--no-overflow {
		overflow: hidden;
	}

	&.wrapper--success,
	&.wrapper--error,
	&.wrapper--info ,
	&.wrapper--warning {
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	}

	&.wrapper--success {
		border: 1px @c-success-border solid;
		background: @c-success-bg;
		color: @c-success;
	}

	&.wrapper--error {
		border: 1px @c-error-border solid;
		background: @c-error-bg;
		color: @c-error;
	}

	&.wrapper--info {
		border: 1px @c-info-border solid;
		background: @c-info-bg;
		color: @c-info;
	}

	&.wrapper--warning {
		border: 1px @c-warning-border solid;
		background: @c-warning-bg;
		color: @c-warning;
	}
}

.content {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	
	&.content--medium {
		max-width: 900px
	}
	
	&.content--small {
		max-width: 600px
	}
	
}

ul, ol {
	margin: 0 0 0 20px;
	padding: 0;

	li {
		margin: 0 0 10px 0;

		ul, ol {
			margin: 10px 0 0 10px;
			padding: 0;
		}
	}
}